RAG Support Agent — Answerer.json
{
  "name": "RAG Support Agent — Answerer",
  "nodes": [
    {
      "parameters": {
        "formTitle": "RAG Support Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Ask a question",
              "fieldName": "Question"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "6ae05e68-1058-442c-ad71-76e7b9afedb2",
      "name": "On form submission",
      "webhookId": "e8ca41e7-c3b3-407b-a43e-d5742532b4b0"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "support-doc-v2",
          "mode": "list",
          "cachedResultName": "support-doc-v2"
        },
        "prompt": "={{ $json.Question }}",
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "3ee6d678-dfa4-4898-9a0b-b821cea6a1a4",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "TQuPOtGSUXs1I5Ag",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        208
      ],
      "id": "17069d84-ed4e-48ab-b819-a6485a4fc3ef",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "JelLqx38SMdXJylo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a customer support agent. Answer the user's question using ONLY the provided context documents below. If the answer cannot be found in the context, respond exactly with: \"I don't have that information.\" Do not use your general knowledge.\n\nUser Question:\n{{ $('On form submission').item.json.Question }}\n\nContext Documents:\n{{ $json.document.pageContent }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "57724d6d-9628-400a-a762-48be010358d9",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "JelLqx38SMdXJylo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Your Support Answer",
        "completionMessage": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        912,
        0
      ],
      "id": "d1b8a66b-d2cb-4908-8435-1d640825b056",
      "name": "Form",
      "webhookId": "0dddcaae-2a25-47a4-9a3c-64bb834bbdd4"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4c9a7e0a-fbf3-4d66-be5b-35a4cea60500",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "500990defd42af065205946b97a025372b2dea6a31d6ec63afba0a71260c6067"
  },
  "nodeGroups": [],
  "id": "apIOIeVJ1cz8nzBS",
  "tags": []
}